*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav{
  margin: auto;
  height: 100vh;
  width: 1100px;
  color: lightgrey;
}
.container{
  display: flex;
}
.nav-left{
  height: 100px;
  width: 35%;
}
.nav-right{
  line-height: 100px;
  height: 100px;
  width: 65%;
}
.list li{
  list-style: none;
  display: inline-block;
  vertical-align: middle;
}
li a{
  text-decoration: none;
  color: lightgrey;
}
/* navigazione di sinistra */
.logo{
  height: 100px;
}
.left-list li{
  margin: 5px;
}
/* navigazione di destra */
.right-list li{
 margin-top: 7px;
 margin-left: 20px;
}
.button{
  background-color: violet;
  border-radius: 5px;
  padding: 7px;
}
/* container tendina */
.container-tendina{
  display: flex;
  justify-content: flex-end;
  height:300px;
}
